*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version

# RVM
.rvmrc
.ruby-gemset

# YARD artifacts
.yardoc
_yardoc
doc/

# OSX artifacts
.DS_Store

# RubyMine
.idea/
