---
http_interactions:
- request:
    method: get
    uri: http://api.sportsdatallc.org/nfl-t1/2012/PRE/1/schedule.xml?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Etag:
      - ! '"e86702cdeee2ada38d237875c98d4e3a"'
      Last-Modified:
      - Wed, 15 Aug 2012 19:03:44 GMT
      X-Mashery-Responder:
      - prod-p-worker-us-east-1d-34.mashery.com
      X-Via:
      - Nginx-S3-Proxy
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<games xmlns=\"http://feed.elasticstats.com/schema/nfl/schedule-v1.0.xsd\"
        season=\"2012\" type=\"PRE\" week=\"1\">\n  <game id=\"433d3222-e82d-4f14-97e2-4115579473f6\"
        scheduled=\"2012-08-09T23:00:00+00:00\" home_rotation=\"\" away_rotation=\"\"
        home=\"BUF\" away=\"WAS\" status=\"closed\">\n    <venue id=\"e9e0828e-37fc-4238-a317-49037577dd55\"
        country=\"US\" name=\"Ralph Wilson Stadium\" city=\"Orchard Park\" state=\"NY\"
        capacity=\"73967\" surface=\"artificial\" type=\"outdoor\" zip=\"\" address=\"\"/>\n
        \   <weather temperature=\"80\" condition=\"Cloudy\" humidity=\"38\">\n      <wind
        speed=\"16\" direction=\"W\"/>\n    </weather>\n    <broadcast network=\"Local\"
        satellite=\"\" internet=\"\" cable=\"\"/>\n    <links>\n      <link rel=\"statistics\"
        href=\"/2012/PRE/1/WAS/BUF/statistics.xml\" type=\"application/xml\"/>\n      <link
        rel=\"summary\" href=\"/2012/PRE/1/WAS/BUF/summary.xml\" type=\"application/xml\"/>\n
        \     <link rel=\"pbp\" href=\"/2012/PRE/1/WAS/BUF/pbp.xml\" type=\"application/xml\"/>\n
        \     <link rel=\"boxscore\" href=\"/2012/PRE/1/WAS/BUF/boxscore.xml\" type=\"application/xml\"/>\n
        \     <link rel=\"roster\" href=\"/2012/PRE/1/WAS/BUF/roster.xml\" type=\"application/xml\"/>\n
        \     <link rel=\"injuries\" href=\"/2012/PRE/1/WAS/BUF/injuries.xml\" type=\"application/xml\"/>\n
        \     <link rel=\"depthchart\" href=\"/2012/PRE/1/WAS/BUF/depthchart.xml\"
        type=\"application/xml\"/>\n    </links>\n  </game>\n  <game id=\"b63e01f9-600d-42ee-b1f0-b020846b246b\"
        scheduled=\"2012-08-09T23:30:00+00:00\" home_rotation=\"\" away_rotation=\"\"
        home=\"PHI\" away=\"PIT\" status=\"closed\">\n    <venue id=\"4fa8c29c-6626-464c-8540-314ed7535e1b\"
        country=\"US\" name=\"Lincoln Financial Field\" city=\"Philadelphia\" state=\"PA\"
        capacity=\"68532\" surface=\"turf\" type=\"outdoor\" zip=\"\" address=\"\"/>\n
        \   <weather temperature=\"83\" condition=\"Overcast\" humidity=\"46\">\n
        \     <wind speed=\"4\" direction=\"S\"/>\n    </weather>\n    <broadcast
        network=\"Local\" satellite=\"\" internet=\"\" cable=\"\"/>\n    <links>\n
        \     <link rel=\"statistics\" href=\"/2012/PRE/1/PIT/PHI/statistics.xml\"
        type=\"application/xml\"/>\n      <link rel=\"summary\" href=\"/2012/PRE/1/PIT/PHI/summary.xml\"
        type=\"application/xml\"/>\n      <link rel=\"pbp\" href=\"/2012/PRE/1/PIT/PHI/pbp.xml\"
        type=\"application/xml\"/>\n      <link rel=\"boxscore\" href=[...]
